@function px( $px ){
    @return $px/$designWidth*10 + rem;
}

$designWidth : 320;

*{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
}
.child{
    text-align: center;
    width: px(128);
    background-color: #ccc;
    float: left;
    margin: px(16);
    height: px(64);
    line-height: px(100);
}
.parent{

    background-color: #00f;

}
.clearfix::after{
    content:' ';
    display: block;
    clear:both;
}